# Origin of Pandas
The Pandas library originated with Wes McKinney in 2008

# **Pandas Series**

A Series is a one-dimensional labeled array capable of holding any data type . The axis labels are collectively called the index .

In [1]:
#---Creating Series---
# There are Multiple ways to create a pandas Series .
import numpy as np
import pandas as pd

In [10]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
dict = {'A':10,'B':20,'C':30}

In [11]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(dict)

A    10
B    20
C    30
dtype: int64